{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/animation.css' %}">
<script src="{% static 'dashboard/js/animation.js' %}"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<body>
    <!-- <div class="square parallax-one"></div>
    <div class="circle"></div>
    <h1 class="text move-text parallax-two">Welcome</h1> -->
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark" >
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dsahboard' %}">
                <h3 class="my-heading" style="font-size: 15px;">ArkaShine Innovations Pvt Ltd</h3>
            </a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notifications' %}">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add-devise' %}">Add devise</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
        </div>
    </nav>
  <!-- end navbar -->
    <div style="margin-top:100px;float: left;width: 100%;">
        <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'device-list' %}">Devises</button>
        <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'map' %}">Map</button>
        <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'notifications' %}">Notifications</button>
        <button class="rounded bg-dark text-white" id="dashboard-buttons" style="width: 50%;float: left;" onclick="window.location={% url 'add-devise' %}">Add devise</button>
    </div>


 
</body>
