{% load static %}

<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="{% static 'devise/devise_details1.css' %}">
</header>


<!------ Include the above in your HEAD tag ---------->
 <!-- navbar -->
 <h4 class="bg-success" style="width: 100%;">{{message}}</h4>
 <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
     <div class="container-fluid">
         <a class="navbar-brand" href="{% url 'dsahboard' %}">
             <h3 class="my-heading" style="font-size: 15px;">ArkaShine Innovations Pvt Ltd</h3>
         </a>
             <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'notifications' %}">Notifications</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'add-devise' %}">Add devise</a>
                 </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                 </li>
             </ul>
     </div>
 </nav>
<!-- end navbar -->


<section style="background-color: #eee;" style="margin-top: 100px;">
    <!-- <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div> -->
  
      <div class="row m-5">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{devise.name}}</h5>
              <p class="text-muted mb-1">{{devise.phone}}</p>
              <p class="text-muted mb-4">{{devise.email}}</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'edit-devise' devise.pk %}" class="btn btn-primary">Edit</a>
                <!-- <button type="button" class="btn btn-outline-primary ms-1">Message</button> -->
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">Devise usage ({{api_usage}})</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0"><a href="{% url 'map-devise' devise.pk %}">Devise current location</a></p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0"><a href="{% url 'api-list' devise.pk %}">Devise API calls</a></p>
                </li>
                <!--
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address1</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.address1}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address2</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.address2}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">devise_id</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.devise_id}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">setial_no</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.setial_no}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">chipset_no</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.chipset_no}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">purchase_date</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.purchase_date}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">time_of_sale</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.time_of_sale}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">warrenty</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.warrenty}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">amount_paid</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.amount_paid}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">balance_amount</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{devise.balance_amount}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>